name: Generate SBOM

on:
  push:
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]


env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # GitHub.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  generate_sbom:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: [ "3.12" ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv venv
        uv sync --only-group dev
        uv pip install cyclonedx-bom

    - name: Run Cyclonedx
      run: |
        uv run cyclonedx-py environment > sbom.json

    - name: Validate SBOM
      run: |
        if [ ! -s sbom.json ]; then
          echo "Error: SBOM file is empty or not created"
          exit 1
        fi

    - name: Commit and push SBOM
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add sbom.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "chore: update SBOM [skip ci]" && git push)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


