name: Test and Build Lib

on:
  push:
    branches: [ "*" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]


jobs:
  test_sdg_core_lib:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv venv
        uv sync --only-group test

    - name: Run AI-LIB tests
      run: uv run pytest src/sdg_core_lib/test/


  build:
    needs: test_sdg_core_lib
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Python 3.12
        run: uv python install 3.12

      - name: Build AI-LIB
        run: uv build

      - name: Publish AI-LIB
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
